<strong>{{label}}</strong>
<ul class="properties-list">
{{#each variables as |property|}}
  <li class="property-definition">
    <div class="property-title-container">
      <h5>{{property.name}}</h5>
      <div class="property-type">{{type-annotation type=property.type}}</div>
    </div>
    {{#if property.comment}}
      <p>{{property.comment.text}}</p>
    {{/if}}
  </li>
{{/each}}
</ul>