@import "normalize";
@import "basic";

$copy-one: #AA4639;
$copy-two: #AA8139;
$copy-three: #2C4770;
$copy-four: #2A7F41;

#top-menu {
  h1 {
    font-size: 100%;
    margin: 5px;
    padding: 5px;
  }
  border-bottom: 1px solid #DDD;
}

body,
html,
.ember-application > .ember-view {
    height: 100%;
}
.ember-application > .ember-view,
#column-container {
    display: flex;
}
.ember-application > .ember-view {
    flex-direction: column;
}
#column-container {
    flex: 1;
}
#column-container > div {
    overflow-y: auto;
}

#app-container {
  flex: 1;
}

.method-signature {
  padding: 10px 0px;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  display: flex;
  font-size: 100%;
  h5 {
    font-size: 100%;
  }
  ol, li {
    margin: 0px;
    padding: 0px;
  }
}

.parameters-list {
  display: flex;
  margin: 0px 4px;
  li {
    padding: 0px 4px;
    display: flex;
  }
}

.parameters-list::after {
  font-size: 110%;
  color: $copy-one;
  content: ")";
}

.parameters-list::before {
  font-size: 110%;
  color: $copy-one;
  content: "(";
}

.param-name {
  color: #666;
}

.return-type {
  margin-left: 4px;
  color: $copy-four;
  a {
    color: $copy-four;
  }
}

.return-type > div::before {
  content: "->";
}

.param-type {
  margin-left: 4px;
  color: #6987C9;
  a {
    color: #6987C9;
  }
}

#menu-container {
  border-right: 1px solid #DDD;
  flex: 1;
  font-size: 120%;
  bottom: 0px;
  top: 0px;
  background-color: #F9F9F9;
  top:0px;
  bottom:0px;
  padding: 10px 0px;
  ul {
    padding: 0px 14px;
    margin: 0px 10px 12px 0px;
    ul {
      padding-left: 10px;
      border-left: 3px solid #999;
      li {
        font-size: 80%;
      }
    }
  }
  li {
    list-style: none;
  }

  a {
    color: #444;
    text-decoration: none;
  }
}

#content-container {
  bottom: 0px;
  top: 0px;
  padding: 10px 20px;
  background-color: #FFF;
  flex: 3;
}

strong {
  font-weight: 400;
  font-size: 120%;
  color: #777;
}

@mixin item-list($color) {
  padding: 0px;
  margin: 0px 0px 0px 0px;
  li {
    list-style: none;
  }
  h5 {
    margin: 0px 0px 4px 4px;
    color: $copy-one;
  }
  p {
    margin: 0px;
    padding: 2px 8px;
    color: #666;
  }
}

.methods-list {
  @include item-list(#F3F3F3);
  >li {
    border-top: 1px solid #F3F3F3;
    margin-bottom: 8px;
  }
}

.property-type {
  margin:  2px 10px;
  color: #6987C9;
  a {
    color: #6987C9;
  }
}

.properties-list {
  @include item-list(#F3F3F3);
  >li {
    border-top: 1px solid #F3F3F3;
    margin-bottom: 8px;
  }
}

.property-title-container {
  display: flex;
}