<div class="container" >
  <div class="row" id="app-container">
    <div class="four columns" id="menu-container">
        {{left-menu data=model.menu}}
    </div>
    <div class="eight columns" id="content-container">
        <h1>GlimmerJS Docs</h1>
        {{outlet}}
    </div>
  </div>
</div>